$orange : #ffa500;
$off-white:#f8f8f8;
$error-text: #bd2d08;
$success-text :rgb(41, 133, 18);
// size 
$xs:.5rem ;
$normal:1rem;
$sm:1.5rem ;
$md:2rem ;
$lg:3rem ;
$xlg:5rem ;
$xxlg:7rem ;

// fonts 
$quicksand:'Special Elite', cursive;

// breakpoints 

$lg-breakpoint:1024px;
$md-breakpoint:768px;
$sm-breakpoint:641px;
$xs-breakpoint:480px;
